* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("../public/unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#root {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 550px;
  min-width: 400px;
  min-height: 100vh;
  background-color: #03045e;
  background-image: url("../public/girl-with-red-hat.jpg");
  background-size: cover;
  background-position: center;
  border: 7px solid darkblue;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

h1 {
  margin-bottom: 0.3em;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
}

h3,
.quest--answers--answer {
  text-shadow: 0px 0px 10px black;
}

.home p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.home {
  color: whitesmoke;
}

.home--button {
  color: whitesmoke;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 1em 2em;
  margin-top: 2em;
  background: #3a86ff;
  border-radius: 15px;
  cursor: pointer;
}

.categories {
  margin: 1em auto;
  text-align: center;
  color: whitesmoke;
}

#categories-category {
  text-align: center;
  margin-top: 0.5em;
  padding: 0.3em;
  font-size: 1rem;
  background-color: #03045e;
  color: white;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
}

.quest,
.score {
  padding-left: 3em;
  padding-right: 3em;
}

.container {
  text-align: center;
}

.quest--question {
  color: whitesmoke;
  text-align: start;
  margin: 30px 75px 0px 0px;
  width: fit-content;
}

.line {
  margin-top: 1.5em;
  border-bottom: 2px solid whitesmoke;
}

.quest--answers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.8em;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
  column-gap: 10px;
  color: black;
  margin-top: 1em;
}

.quest--answers--answer {
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: whitesmoke;
  background: #3a86ff;
  padding: 0.2em 1em;
  border: 2px solid darkblue;
  border-radius: 7.94239px;
  cursor: pointer;
}

.quest--answers .selected {
  background: darkblue;
  border: 3px solid #03045e;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  margin-top: 2em;
  color: whitesmoke;
}

.btn-check-answers,
.btn-play-again,
.btn-new-game {
  padding: 0.5em 2em;
  margin-bottom: 0.8em;
  color: whitesmoke;
  background: #3a86ff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.btn-check-answers:hover,
.btn-play-again:hover,
.btn-new-game:hover {
  cursor: pointer;
}

.btn-check-answers:active,
.btn-play-again:active,
.btn-new-game:active,
.home--button:active {
  box-shadow: 2px 2px 5px black;
}

#selected-wrong {
  background: lightcoral;
}

#selected-good {
  background: lightgreen;
}

button:focus {
  outline: none;
}

.score-comment {
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 1px black;
}

strong {
  font-size: 30px;
}
